<html style="height:100%">
  <head>
    <meta charset="utf-8">
    <title>CoVar Amap</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    
    <script src="js/index.js"></script>
  </head> 
  <body>  


{% from "security/_custom_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<div class="container">
<form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
<h1>Please sign in</h1>
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email) }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit) }}
</form>
</div>
{% include "security/_menu.html" %}
</body>
</html>
